.articles {
  margin-top: 75px;
  height: 100vh;
}
.article {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  height: 70px;
  overflow: hidden;

  .article-content {
    width: 100%;

    p {
      padding-left: 10px;
      line-height: 25px;
    }
  }

  h2 {
    padding: 10px 0px 0px 10px;
    font-size: 28px;
    margin: 0;
  }

  .date {
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
  }

  .expandButton {
    font-size: 30px;
    width: 80px;
    color: white;
    cursor: pointer;
    text-align: center;
    height: 55px;
    padding-top: 15px;
    background-color: green;
  }

  .article-open--button {
    background-color: red;
  }
}